html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-wraper {
    display: inline-block;
    width: 90px;
    height: 20px;
    position: relative;
}

.logo-link {
    padding: 5px;
    position: absolute;
    z-index: 10;
}

img.logo {
    width: 80px;
    height: 60px;
    transform: rotate(-5deg);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: #1d202d;
    /* #2d482d;*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
}
a{
    text-decoration: none;
}

nav .col-80,
nav .col-20 {
    display: inline-block;
}

.col-80 {
    width: 80%;
}

.col-20 {
    text-align: right;
    width: 20%;
}

ul.menu-group {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
    margin: 5px 20px;
    background-color: #444642;
    vertical-align: top;
    border: 1px solid transparent;
    border-radius: 3px;
}

.pull-right {
    float: right;
}

ul.menu-group li a,
ul.menu-group .inp {
    display: inline-block;
    padding: 7px 15px;
    background-color: transparent;
    color: #eee;
    border: none;
    border-right: 1px solid #1d202d;
}

ul.menu-group li a {
    transition: background-color 300ms ease;
}

ul.menu-group li a.active,
ul.menu-group li:hover a {
    background-color: #333542;
    color: #fff;
}

ul.menu-group li:last-child a {
    border-right: none;
}

.invisible{
    display: none;
}

.btn{
    background: transparent;
    padding: 7px 9px;
    border: 1px solid transparent;
    cursor: pointer;
}

textarea{
    border: 1px solid transparent;
}

.btn:focus,
.inp:focus, select:focus, textarea:focus {
    outline: none;
}

select{
    border: 2px solid #ddd;
    background: transparent;
    padding: 5px 12px;
    margin: 3px;
}

.workspace-container {
    height: 90vh;
    display: flex;
}

.workspace {
    height: 100%;
    min-width: 60%;
    width: 80%;
    display: inline-block;
    overflow: scroll;
    transition: all 300ms ease;
    padding: 30px;
    position: relative;
    box-sizing: border-box;
}

.workspace.half{
    width: 60%;
}

.chart-container{
    margin: 0 auto;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.workspace.full {
    width: 100%;
}

.workspace-container .aside-menu-wraper {
    width: 20%;
    height: 100%;
    display: inline-block;
    background-color: #333542;
    position: absolute;
    right: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease;
    /* transform: rotateY(0deg);
    transform-origin: right; */
    overflow: hidden;
}

.workspace-container .aside-menu-wraper.half{
    width: 40%;
}

.aside-menu-wraper.hidden {
    opacity: 0;
}

.aside-menu-wraper .aside-menu{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Modal component */
.modal-container{
    display: none;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    perspective: 1000px;
    transition: all 300ms ease;
    z-index: 20;
}

.modal-container.opened{
    background-color: rgba(0, 0, 0, 0.7);
}

.modal{
    margin-left: 1%;
    width: 98%;
    height: 96%;
    margin-top: 1%;
    background: #fff;
    transition: all 100ms ease;
    transform: rotateY(9deg);
    transform-origin: left;
    opacity: 0;
}

.modal.opened{
    opacity: 1;
    transform: rotateY(0deg);
}

.modal-nav{
    position: relative;
}

.modal-nav-item-group{
    display: inline-block;
}

.modal-nav-item-group > *{
    display: inline-block;
    vertical-align: middle;
}

.modal-nav .txt-filename{
    cursor: pointer;
}

.modal-nav .btn-done{
    padding: 9px 20px;
}

.modal-body{
    position: relative;
    overflow: scroll;
}

.table-container{
    max-width: 100%;
}

.table-container table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
}

.table-container table th{
    background-color: #1d202d;
    color: #fff;
}

.table-container table td, .table-container table th{
    text-align: center;
    padding: 3px 8px;
    font-size: small;
    border:  2px solid #333542;
    position: relative;
    cursor: pointer;
}

.table-container table td:hover::after, .table-container table th:hover::after{
    position: absolute;
    background-color: #007bff36;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    top: -5000px;
    width: 100%;
    z-index: -1; 
}

.table-container table th.selected-x::after{
    position: absolute;
    background-color: #ffff0089;
    content: '\00a0';  
    height: 10000px;
    left: 0;
    top: -5000px;
    width: 100%;
    z-index: -1; 
}

.table-container table th.selected-y::after{
    position: absolute;
    background-color: #ff2d575d;
    content: '\00a0';  
    height: 10000px;
    left: 0;
    top: -5000px;
    width: 100%;
    z-index: -1; 
}


.table-container table th.selected-y.selected-x::after{
    background-color: #8000805d;
}

.table-container table tr td.selected-x{
    background-color: #007bff36;
}


.table-container .pallets{
    position: absolute;
    right: 0;
    bottom: 0;
}
.table-container .colorhint{
    padding: 5px 7px;
    font-size: xx-small;
}

.table-container table tr td.row-idx{
    background-color: #eee;
}
/* Select axis menu */
.select-axis-menu{
    position: fixed;
    z-index:30;
    box-shadow: 0 0 5px #ddd;
}

.select-axis-menu a{
    display: block;
    background-color: #fff;
    padding: 7px 18px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.select-axis-menu a:hover{
    background-color: #fafafa;
}

.btn-close{
    color: #631021;
    background-color: #f0a8b6;
}


.btn-done{
    color: #333542;
    background-color: #9dc09d;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #1f311f57;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

.active-customize {
    background: linear-gradient(270deg, #080082, #7751b9);
    color: #fff;
}

/* JSON textarea component */

.json{
    background-color:transparent;
}

.json .json-textarea{
    background-color: transparent;
    color: #f1f1f1;
    box-sizing: border-box;
}